.pricingItem {
  padding: 85px 75px;
  width: 300px;
  background-color: #ffffff;
  font-family: 'Oswald', sans-serif;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.5px;
}
.icon {
  height: 162px;
  width: 214px;
  margin: 0 auto 34px;
  display: block;
}
.label {
  margin-bottom: 14px;
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
}
.Bronze {
  color: #dd7c4b;
}
.Silver {
  color: #c0c0c0;
}
.Gold {
  color: #dda431;
}
.capacity {
  margin-bottom: 14px;
  font-size: 17px;
  text-transform: uppercase;
  color: #b4b4b4;
}
.description {
  margin-bottom: 26px;
  font-size: 15px;
  font-family: 'Raleway';
  color: #bababa;
  line-height: 1.667;
}
.price {
  margin-bottom: 32px;
  font-size: 40px;
  color: #7f8c8d;
  text-transform: uppercase;
  letter-spacing: 0.1px;
}
.button {
  font-size: 15px;
  font-family: 'Oswald';
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.2;
  border: none;
  padding: 16px 61px;
  letter-spacing: 0.5px;
}
.GoldButton {
  composes: button;
  background-color: #dda431;
}

.BronzeButton {
  composes: button;
  background-color: #dd7c4b;
}

.SilverButton {
  composes: button;
  background-color: #c0c0c0;
}
