.profile {
  margin: 10px auto;
  width: 250px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(191, 205, 222, 0.75);
  font-family: 'Lato', sans-serif;
  color: rgb(118, 134, 150);
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
}
.description {
  padding: 30px 10px 27px;
}
.avatar {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 26px; /*30*/
}
.name {
  margin-bottom: 6px; /*12*/
  font-size: 18px; /*14*/
  color: rgb(18, 34, 54);
  font-weight: 700;
}
.tag {
  margin-bottom: 7px; /*13*/
}
.stats {
  border-top: 1px solid rgb(228, 233, 240);
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;
  background-color: #f3f6f9;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.stats > .item {
  padding: 18px 0 23px; /*21 0 26 0*/
}
.stats > .item:not(:last-child) {
  border-right: 1px solid rgb(228, 233, 240);
}
.label {
  margin-bottom: 3px; /*9*/
  display: block;
  font-size: 12px; /*9*/
}
.quantity {
  color: rgb(31, 51, 73);
  font-weight: 700;
}
